<!-- prettier-ignore -->
{% extends "layout.html" %}

{% block title %}About Eric{% endblock %}

{% block content %}

<section class="mx-auto flex max-w-2xl flex-col gap-5">
  <picture class="flex justify-center">
    <img
      src="/assets/jumping-tennis-IW.jpeg"
      alt="Me jumping on a tennis court"
      class="w-4/12 rounded-full"
    />
  </picture>
  <h1 class="text-center font-mono text-2xl">
    &lt;page&gt <strong class="text-3xl">Bio</strong> &lt;/page&gt
  </h1>
  <p>
    Hi, I'm Eric and welcome to my dev site where I share some of the personal
    projects I'm working on. Recently, I've been investigating what all this
    hype is about surrounding htmx and I've got to say &#8212; I'm a fan! By
    now, I've worked in all the popular javascript frameworks such as React,
    Svelte, etc., but there's something very satisfying about using a minimal
    setup and returning the power back to the server. I built this site using
    Axum, a Rust server on the backend, Askama, a Rust template engine, htmx and
    tailwindcss to add reactivity and style for the frontend, and hosted it all
    on fly.io in a Docker container.
  </p>

  <p>
    In my free time, I enjoy playing all racket sports such as tennis,
    pickleball, badminton, and table tennis. I also enjoy paddleboarding,
    working out, and maintaining a healthy lifestyle.
  </p>
</section>

<button
  type="button"
  hx-get="/api/hello"
  hx-swap="innerHtml"
  class="rounded-md bg-indigo-600 px-2.5 py-1.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
>
  Say hello
</button>
{% endblock %}
